ion-icon {
    background: #3880ff;
    color: #ffffff;
    font-size: 24px;
    transform: rotate(90deg);
}
ion-list-header {
    --background: #ffffff;
    --border-color: #3880ff;
    --border-style: solid;
    --border-width: 8px;
    --color: #3880ff;
    --inner-border-width: 2px;
}