<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Información</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
      Aplicación desarrollada por María Eugenia Díaz H. 
      A continuacion puede consultar más información sobre el autor.
    </ion-card-content>   
  <ion-item>
      <ion-icon name="book-outline" ></ion-icon> currículum vítae  
    </ion-item>
    <ion-item>
      <ion-icon name="mail"></ion-icon> 
      <B >correo:</B>email@email.com
    </ion-item>
    <ion-item>
      <ion-icon name="logo-twitter"></ion-icon>
      <B >Twitter: </B> @Twitter
    </ion-item>
    <ion-item>
      <ion-icon name="call-sharp"></ion-icon>
      <B >Telefono:  </B> 9983041135
    </ion-item>
  </ion-card>
</ion-content>
