<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Bienvenido a</ion-card-subtitle>
      <ion-card-title >¡VideoClub!</ion-card-title>
  </ion-card-header>  
  <ion-card-content>
    ¡Videoclub es una aplicación desarrollada con ionic.
    Para acceder a la gestion del videoclub pulsa el siguiente boton:

      
  </ion-card-content>  
  <ion-item >
    <ion-icon name="videocam"></ion-icon>
    <ion-label class="ion-padding">Acceso a ¡Videoclub</ion-label>
  
  </ion-item>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Información sobre el autor</ion-card-title>
  </ion-card-header> 
  <ion-card-content>
    Aplicación desarrollada por Díaz Hernandez María Eugenia
  </ion-card-content>   
  <ion-item>
    <ion-icon name="person"></ion-icon>
    <ion-label class="ion-padding">Consultar información</ion-label>
  </ion-item>
</ion-card>

  
</ion-content>
